# Merge

In [1]:
import pandas as pd

pandas.merge(<br>
* right: DataFrame or named Series
* how: {'left','right','outer','inner','cross'}
    - left: use only keys from left frame, sismilar to a sql left outerjoin; preserve key order.
    - right: use inly keys from right frame, simular to a sql right outer join; preserve key order.
    - outer: use unon of keys from nboth frames, similar to a sql fuill outer join; sort keys lexicographically
    - inner: use intersection of keys from both frames, simular to a sql inner join; preserve the order of the left keys
    - cross: crates the cartesian product from both frames, preservees the order of the left keys
* on: label or list
    - Column or index level names to join on. these must be found in both DataFrames. If on is None and nor merging on indexes then this defaults to the intersection of the columns in both DataFrames
* left_on: label or list, or array-like
    - Column or index level names to join on in the left DataFrame. Can also be an array or list of arrays of the length of the left DataFrame. These Arrays are treated as fi they are columns.
* right_on: label or list, or array-like
    - Column or index level names to join on in the right DataFrame. Can also be an array or list of arrays of the elngth of the right DataFrame. These arrays are treated ass if they are columns.
* left_index: bool, default False
    - Use the index from left DataFrame as the join keys(s). If it is multinIndex, the number of keys in the ither DataFrame (either the index or a number of columns) must match the number of levels.
* right_index: boo, default False
    - Use the index from the right DataFrame as the join key. Same caveats as left_index.
* sort: bool, default False3
    - Sort join keys lexicographically in the result DataFrame. if False, the order of the join keys depends on th join type (how keyword)
* suffices: list-like default is ("_x","_y)
    - A length-2 sequence where each element is optionally a string indicating the suffix to add to overlapping column names in left and right respectively. PAss a value of None istead od stirng to indicate that the column name from left or right should be left as-is, with no suffic. At least one of the values must not be None.
* copy: bool, default True
    - If False, avoid copy if possible
* indicator: bool, or str, default False
    - If True, adds a column to the output DataFrame called "_merge" wit information on the source of each row. The column can be given a different name by providing a string argument. The column can be given a different name by providing a string arugment. The column will have a Categorical type with the value of "left_only" for observations whose merge key only appears in the right DataFrame, and "Both" if the observation's merge key is found in both DataFrames.
* Validtae: str, optional
    - If specified Checks if emrge os of specified type.
    - "one_to_one" or "1:1" : check if merge keys are unqieu in both left and right datasets
    - "one_to_many" or "1:m" : check if merge keys are unique in both left and right datasets
    - "many_to_one" or "m:1" : check if merge kesy are unique in right dataset.
    - "many_to_many" or "m:m" : allowed, but does not result in checks.
 )

 Return: DataFrame: A DataFrame of the two merged object

In [2]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})

In [3]:
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [4]:
print(df1)
print()
print(df2)

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [5]:
df1.merge(df2, left_on="lkey",right_on="rkey")

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

In [8]:
df1.merge(df2,left_on = 'lkey', right_on="rkey", suffixes=("_left","_right"))

  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

In [9]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})

In [10]:
print(df1)
print()
print(df2)

     a  b
0  foo  1
1  bar  2

     a  c
0  foo  3
1  baz  4

In [11]:
df1.merge(df2,how='inner', on='a')

     a  b  c
0  foo  1  3

In [12]:
df1 = pd.DataFrame({'left': ['foo','bar']})
df2 = pd.DataFrame({'right': [7,8]})

In [13]:
print(df1)
print()
print(df2)

  left
0  foo
1  bar

   right
0      7
1      8

In [15]:
df1.merge(df2,how="cross")

  left  right
0  foo      7
1  foo      8
2  bar      7
3  bar      8